<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true">

        <!-- 메인 (런처) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 가는 편 선택 화면 -->
        <activity
            android:name=".FlightReservationActivity"
            android:exported="false" />

        <!-- 오는 편 선택 화면 -->
        <activity
            android:name=".InboundSelectActivity"
            android:exported="false"
            android:parentActivityName=".FlightReservationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FlightReservationActivity" />
        </activity>

        <!-- ✅ 여정 상세 화면 (신규) -->
        <activity
            android:name=".ItineraryActivity"
            android:exported="false"
            android:parentActivityName=".InboundSelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InboundSelectActivity" />
        </activity>

        <!-- ✅ 결제 화면 (신규) -->
        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:parentActivityName=".ItineraryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItineraryActivity" />
        </activity>

    </application>
</manifest>
